<li class="js-tab-link"><a data-tab-content="#tab-content1">link-1</a></li>
<li class="js-tab-link"><a data-tab-content="#tab-content2">link-2</a></li>
<li class="js-tab-link"><a data-tab-content="#tab-content3">link-3</a></li>
